 body {
     margin: 0;
     padding: 0;
     text-align: center;
 }

 #canvas {
     background-image: linear-gradient(rgb(0, 2, 143), black);
     border-top: 8px solid rgb(121, 0, 0);
     border-left: 8px solid rgb(216, 0, 0);
     border-right: 8px solid rgb(216, 0, 0);
 }