 body {
     margin: 0;
     padding: 0;
     text-align: center;
     height: 100vh;
     background-image: linear-gradient(rgb(0, 162, 255), black);
 }

 #canvas {
     margin-top: 50px;
     background-image: linear-gradient(rgb(0, 2, 92), black);
     border-top: 8px solid rgb(121, 0, 0);
     border-left: 8px solid rgb(216, 0, 0);
     border-right: 8px solid rgb(216, 0, 0);
 }

 #start-button {
     position: absolute;
     top: 67%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-style: solid;
     border-width: 2px;
     border-color: red;
     border-radius: 50px;
     padding: 5px;
     width: 150px;
     margin-top: 20px;
     background: blue;
     color: yellow;
     font-weight: 700;
     font-family: comic sans MS;
     text-shadow: 2px 2px 1px black;
     box-shadow: 8px 8px 18px black;
     cursor: pointer;
     display: none;
 }

 h1 {
     position: absolute;
     top: 26%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 40px;
     font-family: comic sans MS;
     color: rgb(255, 217, 0);
     text-shadow: 3px 3px 4px rgb(255, 0, 0);
     z-index: 10;
     display: flex;
 }

 b {
     color: rgb(221, 0, 0);
     text-shadow: 2px 2px 4px rgb(255, 196, 0);
 }